---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedIn  from '../components/icons/LinkedIn.astro'
import PanelSocial from '../components/PanelSocial.astro';
import GitHub from '../components/icons/GitHub.astro'
import Mail from '../components/icons/Mail.astro';
import Experiencia from '../components/Experiencia.astro';
import Container from '../components/Conteiner.astro'
import Case from '../components/icons/Case.astro';
import Book from '../components/icons/Book.astro';
import Estudios from '../components/Estudios.astro'
import User from '../components/icons/User.astro';
import Code from '../components/icons/Code.astro';
import Proyectos from '../components/Proyectos.astro'
---

<Layout
 title="Portfolio de Emanuel - Estudiante en Informatica">
	<main class="px-4">
		<Container class="py-44 pb-24">
			<img  class="rounded-full size-20 mb-4 "
			src="/src/components/perfilfoto.jpg" 
			alt="ema photo"/>

			<h1 class="text-white text-3xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-9">Hey, soy Emanuel 
				<a href ="https://www.linkedin.com/in/emagonzalez/" 
				target="_blank" 
				rel="noopener" 
				class="flex justify-center items-center ">
					
				<Badge>Disponible para trabajar<Badge/> </a> </h1>
					<h2 class="lg:tex-2xl text-xl text-wrap max-w-[700px]">
					<span>Buscando mi primera experiencia.</span>
					<span class=" text-yellow-200/90"> Estudiante en Informatica (Tecnolgo en informatica).</span>
					<span class="text-blue-100/90">De Montevideo, &#x1F1FA;&#x1F1FE;.</span> 
					<spa class="opacity-85">Especializando en crear aplicaciones unicas.</span>
				</h2>
				<nav class="flex gap-x-4 mt-6 flex-wrap ">
					<PanelSocial href="https://www.linkedin.com/in/emagonzalez/">
						<LinkedIn class="g:size-6 size-4"/>
        				LinkedIn
					</PanelSocial>

					<PanelSocial href="https://github.com/zWp4a">
						<GitHub class="g:size-6 size-4"/>
        				Github
					</PanelSocial>
					
					<PanelSocial href="mailto:gonzalez2vecez@gmail.com">
						<Mail class="lg:size-6 size-4"/>
        				gonzalez2vecesz@gmail.com
					</PanelSocial>
					
				</nav>
		</Container>

		<Container>
			<h2 class="text-3xl font-semibold mb-6 gap-x-3 flex items-center">
			<User class="size-7"/>
			Sobre mí
			<h2 class="lg:tex-2xl text-xl text-wrap max-w-[700px] mb-6 mb-10">
				<span>Inmerso en mi formación como </span>
				<span class=" text-yellow-200/90"> Tecnólogo en informática en la FING</span>
				
				<spa class="opacity-85">desarrollo habilidades técnicas sólidas en programación y diseño de sistemas. Mi enfoque en la resolución de problemas complejos se combina con una mentalidad de aprendizaje continuo, esencial en un mundo tecnológico en constante cambio..

				</span>
			</h2>
		</Container>


			<Container id="experiencia">
				<h2 class="text-3xl font-semibold mb-6 gap-x-3 flex items-center mt-10">
				<Case class="size-7"/>
				Experiencia laboral
			
				</h2>
				<Experiencia/>

			</Container>

			<Container id="estudios">
				<h2 class="text-3xl font-semibold mb-6 gap-x-3 flex items-center mt-10">
				<Book class="size-7"/>
				Estudios
			
				</h2>
				
				<Estudios/>

			</Container>

			<Container>
				<h2 class="text-3xl font-semibold mb-6 gap-x-3 flex items-center mt-10">
				<Code class="size-7"/>
				Proyectos
			
				</h2>
				<Proyectos/>

			</Container>

			


	</main>
</Layout>
