---
import type { Code } from "astro:components"
import Experienciaitem from "./Experienciaitem.astro"

const EXPERIENCE = [
    {
        date: 'Marzo 2023',
        title: 'Cajero multi-tarea - Ta-Ta S.A',
        descripcion:
        "Atención al cliente excepcional, manejo eficaz de transacciones, resolución de problemas, gestión de efectivo, mantenimiento del área de trabajo",
        



    },
    {   
        date: 'Diciembre 2022 - Enero 2023',
        title: 'Cajero vendedor de apuestas - Maroñas ENT',
        descripcion:'Venta efectiva de boletos de apuestas, conocimiento profundo de productos y servicios, conocimiento profundo de productos y servicios, evaluación y mejora del desempeño',
    },


]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3 ">                  
    {
    EXPERIENCE.map(experience => (
    <li class="mb-10 ms-4">
        <Experienciaitem { ... experience} />
        </li>
    ))
    }
</ol>

