---
import type { Code } from "astro:components"
import Experienciaitem from "./Experienciaitem.astro"

const EXPERIENCE = [
    {
        date: 'Marzo 2023',
        title: 'Cajero multi-tarea - Ta-Ta S.A',
        descripcion:
        'Desempeñé la tarea de cajero multitarea en Supermercados Ta-Ta, reponiendo y ordenando productos, así como también atendiendo clientes en la caja registradora.',
        

    },
    {   
        date: 'Diciembre 2022 - Enero 2023',
        title: 'Cajero vendedor de apuestas - Maroñas ENT',
        descripcion:'En la modalidad de cajero, vendía apuestas en carreras de caballos en el hipódromo de Maroñas. ',
    },


]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3 ">                  
    {
    EXPERIENCE.map(experience => (
    <li class="mb-10 ms-4">
        <Experienciaitem { ... experience} />
        </li>
    ))
    }
</ol>

